
html, body {
  margin: 0;
  overflow-y: hidden;
  
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #160b22;
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
}

/* Topbar/Header */
header {
  height: 70px;
  background-color: #160b22;
  flex-shrink: 0;
  border-bottom-style: solid; 
  border-color: #008cff;
  border-width: 1px;
}

/* Main Content */
main {
  flex: 1;
  margin-bottom: 20px;
  overflow-y: auto;
  overscroll-behavior: contain;
  margin-right: 10px;
  margin-left: 10px;
}

footer {
  height: 70px;
  background-color: #29143f;
  flex-shrink: 0;
  z-index: 20;
}

/* wokkout sheet */
.sheet {
  position: fixed;
  display: flex;
  flex-direction: column;
  
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100dvh;
  background: #160b22;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
  
  transform: translateY(100%);
  transition: transform 0.3s ease;
  border-top-style: solid; 
  border-color: #008cff;
  border-width: 1px;
  touch-action: pan-y;
  z-index: 10;
  overflow-y: auto;
  
}

.sheet-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: relative;
}

.sheet-timer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: bold;
}

.end-workout-btn {
  margin-left: auto;
  background: #ff4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 20px;
}

.sheet.active {
  transform: translateY(0);
  
}

.sheet-header {
  position: sticky;
  flex-shrink: 0;
  top: 0;
  height: 80px;
  background: #160b22;
  border-radius: 16px 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}
.sheet-handle {
  width: 50px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  margin: 10px auto;
  cursor: grab;
 
}

.sheet-content {
  padding: 20px;
}


/* Button styles */

#blue-extruded-button {
  appearance: button;
  background-color: #12678f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

#blue-extruded-button:after {
  background-clip: padding-box;
  background-color: #1e98d1;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#blue-extruded-button,
#blue-extruded-button:focus {
  user-select: none;
  -webkit-user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#blue-extruded-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#blue-extruded-button:disabled {
  cursor: auto;
}

#blue-extruded-button:active {
  border-width: 4px 0 0;
  background: none;
}

/* Bottombar/footer */


.home-toolbar-container {
  background-color: #000000;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.home-toolbar-container button {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #160b22;
  color: rgba(240, 248, 255, 0.61);
  border-top-style: solid; 
  border-color: #003f72;
  border-width: 1px;
  flex-direction: column;
  align-items: center;
}
.home-toolbar-container button img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}
.home-toolbar-container button.active {
  background-color: #0059ff3f;
  border-color: #008cff;
  color: rgb(240, 248, 255);
}



.page {
  display: none;
  padding-bottom: 70px;
}
.page.active {
  display: block;
}




/* loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader-box {
  display: inline-block;
  width: 30px;
  height: 3px;
  position: relative;
  justify-content: center;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}

